<ion-view view-title="Download the MyNyte App on MyNyte.co.uk" class="grey_bg privacy-policy article-page no-breadcrumb">
    <ion-content>
      <h2>Download the MyNyte App</h2>
      <div class="tile register businesses-items-note">
        <p>Download <b>MyNyte</b> to help you plan your evenings - from booking <b>tables &amp; taxis</b> to getting on <b>event guestlists &amp; ordering takeaway</b>.</p>
        <p><b>Find your Night</b> with <b>MyNyte</b></p>
        <a class="app-download-button"
          ng-if="!rootScope.Platform.isAndroid()">
          <span class="inner-span">
            <span class="text">Download the MyNyte App on the App Store</span>
            <i class="ion-social-apple"></i>
          </span>
        </a>
        <a class="app-download-button"
          ng-if="!rootScope.Platform.isIOS() && !rootScope.Platform.isIPad()">
          <span class="inner-span">
            <span class="text">Download the MyNyte App on Google Play</span>
            <i class="ion-social-android"></i>
          </span>
        </a>
      </div>
      
  </ion-content>
</ion-view>
