<ion-view view-title="{{rootScope.pageTitle}} on MyNyte.co.uk" class="black_bg">
    <div class="page-loading-container"
        ng-show="pageLoading != false">
        <ion-spinner icon="lines" class="spinner-red"></ion-spinner>
        <span class="loading-text">Loading ...</span>
    </div>
    <ion-content>
        <div class="list view-wrapper">
            <div class="item"
                ng-if="messageGroups.length == 0">
                <div class="profiles-items-note">
                    <i class="ion-email main"></i>
                    <p ng-if="groupType == 'Person'">
                        No Message Groups Started Yet
                    </p>
                    <p ng-if="groupType == 'Business'">
                        No Enquiries Yet
                    </p>
                    <p class="text"
                        ng-if="rootScope.user.isBusiness == '1'">
                        Once you start receiving enquiries, they'll appear here.
                    </p>
                    <p class="text"
                        ng-if="rootScope.user.isBusiness == '0'">
                        Start <span ng-if="groupType == 'Person'">sending messages</span><span ng-if="groupType == 'Business'">making enquiries</span> now by pressing the + button in the top right. Let your friends know about offers/events with Messages, or start finding out more about the business services around you with Enquiries.
                    </p>
                </div>
            </div>
            <a class="item item-message-summary" ui-sref="app.profile.messageGroups.messageGroup({_id:msgGroup._id, relListing: relListing, groupType: groupType, messageNameString: msgGroup.name})" ng-repeat="msgGroup in messageGroups">
                <img class="icon ion-notification" ng-src="https://www.mynyte.co.uk/sneak-preview/img/user_images/profile_photo/{{msgGroup.mainPhoto}}"
                    ng-if="!msgGroup.multipleNames"/>
                <i class="icon message-group-icon ion-ios-people"
                    ng-if="msgGroup.multipleNames"></i>
                <div class="message-info"
                    ng-class="{'bolded': msgGroup.messageGroupHasUnreadMessage == '1'}">
                    <span class="message-header">
                        <span>{{msgGroup.name}}</span>
                    </span>
                    <span class="message-text">{{msgGroup.lastMessageSentBy}}: <span ng-if="msgGroup._lastMessageItemId != null"><i class="ion-paperclip"></i></span>{{msgGroup.lastMessageText}}</span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
