<ion-view view-title="{{rootScope.pageTitle}} | Message Group on MyNyte.co.uk" hide-header-search="true" class="grey_bg message-group">
    <div class="page-loading-container"
        ng-show="pageLoading != false">
        <ion-spinner icon="lines" class="spinner-red"></ion-spinner>
        <span class="loading-text">Loading ...</span>
    </div>
   <ion-content class="post-content-message"
        ng-class="{'with-attachment': relListing != null}"
        has-header="true"
        delegate-handle="message-group">
   	<ion-refresher
        ng-if="!newMsgGroup"
       	pulling-text="Older Messages..."
       	on-refresh="doRefresh($event)">
     	</ion-refresher>
      <div class="message-group-wrapper">
        <div class="message-summary-header"
          ng-show="newMsgGroup && (
            (stateParams.groupType == 'Business' && chosenRecipients.length == 0) || 
            (stateParams.groupType == 'Business' && newMsgGroupRecipientDecided && chosenRecipients.length > 0) ||
            (stateParams.groupType == 'Person'))">
          <img ng-src="https://www.mynyte.co.uk/sneak-preview/img/user_images/profile_photo/{{chosenRecipients[0].currentProfilePhotoName}}"
            ng-show="newMsgGroupRecipientDecided && stateParams.groupType == 'Business'" />
          <i ng-class="{'ion-person': chosenRecipients.length == 1, 'ion-ios-people': chosenRecipients.length > 1}"
            ng-show="chosenRecipients.length > 0 && stateParams.groupType == 'Person' && newMsgGroupRecipientDecided"></i>
          <span class="note"
            ng-show="newMsgGroup && !newMsgGroupRecipientDecided">To:</span>
          <span class="main-title"
            ng-show="newMsgGroupRecipientDecided">
                <span ng-repeat="recipient in chosenRecipients">
                    <span ng-if="recipient != chosenRecipients[0]">,&nbsp;</span>
                    {{recipient.displayName}}
                </span>
          </span>
          <form>
            <input type="text" placeholder="{{messageRecipientInputPlaceholderMessage}}" class="recipientSearch"
              ng-show="!newMsgGroupRecipientDecided && newMsgGroup"
              ng-model="currentRecipientSearch.search"
              ng-keyup="conductMessageRecipientSearch(currentRecipientSearch.search)" />
          </form>
        </div>
        <div class="message-possible-recipients-summary"
          ng-show="newMsgGroup && !newMsgGroupRecipientDecided && currentRecipientSearch.search.length > 0">
          <div class="recipient-item"
            ng-repeat="recipient in possibleRecipients">
            <img ng-src="https://www.mynyte.co.uk/sneak-preview/img/user_images/profile_photo/{{recipient.currentProfilePhotoName}}"
                ng-if="recipient.listingType == 'Business'"/>
            <i class="ion-person" style="float: left;"
                ng-if="recipient.listingType == 'Person'"></i>
            <span>{{recipient.name}}</span>
            <i class="ion-plus-round"
              ng-click="addPossibleRecipientToChat(recipient);"></i>
          </div>
        </div>
        <div class="message-chosen-recipients-summary"
          ng-show="newMsgGroup && !newMsgGroupRecipientDecided &&currentRecipientSearch.search.length == 0">
          <div class="recipient-item"
            ng-repeat="recipient in chosenRecipients">
            <img ng-src="https://www.mynyte.co.uk/sneak-preview/img/user_images/profile_photo/{{recipient.currentProfilePhotoName}}"
                ng-if="recipient.listingType == 'Business'"/>
            <i class="ion-person" style="float: left;"
                ng-if="recipient.listingType == 'Person'"></i>
            <span>{{recipient.name}}</span>
            <i class="ion-minus-round"
              ng-click="chosenRecipients.splice(recipient, 1);"></i>
          </div>
        </div>
        <div ng-repeat="date in dates" class="message-date-wrapper view-wrapper"
            ng-class="{'visible': pageLoading == false}">
            <span class="message-date-label-outer">
                <span class="message-date-label-inner">{{date.date}}</span>
            </span>
            <div ng-repeat="message in date.posts" class="message-wrapper">
                <div>
                    <div class="chat-bubble" ng-class="{'left':message.from=='self', 'right':message.from=='other', 'with-attachment': message._relatedItemId != null}">
                        <div class="message-sender" ng-show="message.from != 'self' && groupHasMoreThan2People">
                            <p>{{message._messageSenderProfileName}}</p>
                        </div>
                        <div lang="en" class="message-detail" ng-class="{'with-attachment': message._relatedItemId != null}">
                            <span class="attachment-span" ng-show="message._relatedItemId != null" ng-click="goToAttachedListing(message);">
                              <span class="message-attachment-arrow ion-chevron-right"></span>
                              <img ng-src="https://www.mynyte.co.uk/sneak-preview/img/user_images/cover_photo/thumbnail/{{message.relatedItemCoverPhotoName}}"
                                ng-if="message.relatedItemCoverPhotoName != null && message.relatedItemCoverPhotoName != 'default-offer.jpg'"/>
                              <span class="attachment-type-note"
                                ng-class="{'left-float': message.relatedItemCoverPhotoName == null || message.relatedItemCoverPhotoName == 'default-offer.jpg'}"
                                ng-show="message.relatedItemType == 'BusinessesA la Carte Menu'
                                  || message.relatedItemType == 'BusinessesTakeaway Menu'
                                  || message.relatedItemType == 'BusinessesOffers'
                                  || message.relatedItemType == 'Offer'
                                  || message.relatedItemType == 'BusinessesPhotos'
                                  || message.relatedItemType == 'BusinessesEvents'
                                  || message.relatedItemType == 'EventsOffers'
                                  || message.relatedItemType == 'Event'">
                                <span ng-show="message.relatedItemType == 'BusinessesTakeaway Menu'">Takeaway Menu</span>
                                <span ng-show="message.relatedItemType == 'BusinessesA la Carte Menu'">A la Carte Menu</span>
                                <span ng-show="message.relatedItemType == 'BusinessesOffers'">Business' Offers</span>
                                <span ng-show="message.relatedItemType == 'Offer'">Offer</span>
                                <span ng-show="message.relatedItemType == 'BusinessesPhotos'">Business' Photos</span>
                                <span ng-show="message.relatedItemType == 'BusinessesEvents'">Business' Events</span>
                                <span ng-show="message.relatedItemType == 'EventsOffers'">Event Deals on the Night</span>
                                <span ng-show="message.relatedItemType == 'Event'">Event</span>
                                <span ng-show="message.relatedItemType == 'Movie'">Movie</span>
                              </span>
                              <span class="attachment-note"
                                ng-class="{'border-bottom': message.text != ''
                                    , 'left-float': message.relatedItemCoverPhotoName == null || message.relatedItemCoverPhotoName == 'default-offer.jpg'}">{{message.relatedItemName}} <span ng-if="message.relatedItemType != 'Movie'">- {{message.relatedItemTown}}</span>
                              </span>
                              <span class="attachment-note-icon"
                                ng-show="message.relatedItemType == 'BusinessesA la Carte Menu'
                                  || message.relatedItemType == 'BusinessesTakeaway Menu'
                                  || message.relatedItemType == 'BusinessesOffers'
                                  || message.relatedItemType == 'Offer'
                                  || message.relatedItemType == 'BusinessesPhotos'
                                  || message.relatedItemType == 'BusinessesEvents'
                                  || message.relatedItemType == 'EventsOffers'
                                  || message.relatedItemType == 'Event'
                                  || message.relatedItemType == 'Movie'">
                                  <i 
                                    ng-class="{'ion-social-usd': message.relatedItemType == 'BusinessesOffers' ||  message.relatedItemType == 'Offer' || message.relatedItemType == 'EventsOffers',
                                      'ion-calendar': message.relatedItemType == 'BusinessesEvents' ||  message.relatedItemType == 'Event',
                                      'ion-ios-paper': message.relatedItemType == 'BusinessesA la Carte Menu' || message.relatedItemType == 'BusinessesTakeaway Menu',
                                      'ion-images': message.relatedItemType == 'BusinessesPhotos',
                                      'ion-film-marker': message.relatedItemType == 'Movie'}"></i>
                                </span>
                            </span>
                            <p>{{message.text}}</p>
                            <p class="time-label">
                                <i ng-class="{'ion-checkmark': message.messageReadState == 'Not Read', 'ion-checkmark-circled': message.messageReadState == 'Read By Some' || message.messageReadState == 'Read By All'}"></i>
                                <i ng-class="{'ion-checkmark-circled': message.messageReadState == 'Read By All'}"
                                    ng-show="message.messageReadState == 'Read By All'"></i>
                                {{message.timeString}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cf"></div>
            </div>
          </div>
      </div>
      <!--
      <ion-infinite-scroll
       	ng-if="postsCompleted == false"
       	on-infinite="getPosts()"
       	distance="10%">
     	</ion-infinite-scroll>
        -->
    </ion-content>

    <div class="bar bar-footer bar-stable comment-stable-main">
        <form  class="comment-form-main" method="post" ng-submit="addMesage(postForm.$valid)" name="postForm" novalidate>
            <div class="row small-font row-comment">
                <span class="col-80">
                    <label class="item item-input comment-div-label">
                        <textarea class="comment-main-text" required ng-model="datamessage" name="message" placeholder="{{rootScope.currentMessageInputPlaceholder}}" auto-focus></textarea>
                    </label>
                </span>
                <span class="col-20">
                    <button ng-disabled="((datamessage == '' || datamessage == null) && relListing == null) || (newMsgGroup && (!newMsgGroupRecipientDecided && chosenRecipients.length == 0))"  class="button button-block button-assertive button-comment"><span class="icon ion-android-send"></span></button>
                </span>
            </div>
        </form>
    </div>
    <div ng-if="rootScope.relListing != null" class="message-attachment">
        <img
            ng-src="https://www.mynyte.co.uk/sneak-preview/img/user_images/cover_photo/thumbnail/{{rootScope.relListing.currentCoverPhotoName}}"
            ng-if="rootScope.relListing.listingType != 'Offer' || (rootScope.relListing.listingType == 'Offer' && rootScope.relListing.currentOfferCoverPhotoName == 'default-offer.jpg')" />
        <img
            ng-src="https://www.mynyte.co.uk/sneak-preview/img/user_images/cover_photo/thumbnail/{{rootScope.relListing.currentOfferCoverPhotoName}}"
            ng-if="rootScope.relListing.listingType == 'Offer' && rootScope.relListing.currentOfferCoverPhotoName != 'default-offer.jpg'" />
        <i class="message-attachment-symbol-icon"
            ng-if="rootScope.relListing.relListingType != 'Business' && rootScope.relListing.relListingType != null"
            ng-class="{'ion-social-usd': rootScope.relListing.relListingType == 'BusinessesOffers' || rootScope.relListing.relListingType == 'Offer' || rootScope.relListing.relListingType == 'EventsOffers',
                        'ion-calendar': rootScope.relListing.relListingType == 'BusinessesEvents' || rootScope.relListing.relListingType == 'Event',
                        'ion-ios-paper': rootScope.relListing.relListingType == 'BusinessesA la Carte Menu' || rootScope.relListing.relListingType == 'BusinessesTakeaway Menu',
                        'ion-images': rootScope.relListing.relListingType == 'BusinessesPhotos',
                        'ion-film-marker': rootScope.relListing.relListingType == 'Movie'}"></i>
        <div class="message-attachment-info">
            <span class="listing-title">
                <span ng-if="rootScope.relListing.relListingType != null && rootScope.relListing.relListingType != 'Business'">
                    {{rootScope.relListing.relListingTypeAlias}} <span style="float: none;" ng-if="rootScope.relListing.relListingTypeAlias != 'Movie'">at</span>&nbsp;
                </span>
                <b ng-if="rootScope.relListing.relListingType =='Offer' || rootScope.relListing.relListingType =='Event'">
                    {{rootScope.relListing.businessName}}
                </b>
                <b ng-if="rootScope.relListing.relListingType != 'Offer' && rootScope.relListing.relListingType != 'Event'">
                    {{rootScope.relListing.name}}
                </b>
            </span>
            <span class="listing-description">{{rootScope.relListing.description}}</span>
            <span class="listing-businessName"
                ng-if="rootScope.relListing.listingType != 'Offer' && rootScope.relListing.listingType != 'Event'">{{rootScope.relListing.businessName}}</span>
            <span class="listing-businessName"
                ng-if="rootScope.relListing.listingType == 'Offer' || rootScope.relListing.listingType == 'Event'">{{rootScope.relListing.name}}</span>
            <span class="listing-town">{{rootScope.relListing.town}}</span>
            <span ng-show="rootScope.relListing.date != null" class="listing-date">{{rootScope.relListing.date}}</span>
        </div>
        <button ng-click="cancelListingAttachment();">
          <i class="ion-close"></i>
        </button>
   </div>
</ion-view>
