<ion-view view-title="Complete Registration on MyNyte.co.uk" class="grey_bg complete-register-form">
  	<ion-content>
        <h2>Complete Registration</h2>
      <div class="tile register register-final">
        <button class="skip-step"
             ng-show="profileType == 'person'"
             ng-click="completeRegister(undefined, undefined, undefined, undefined, undefined, undefined);">skip this step</button>
        <form name="completeRegistrationForm">
            <div
                ng-if="profileType != 'person'">
                <label class="item-header">
                    Business Type
                </label>
                <span class="select-options-container">
                    <ul class="select-options select-event-music-{{currentBusinessTypeIndexBeingToggled}}"
                        ng-class="{'open': showBusinessTypes}">
                        <li ng-click="selectBusinessType(businessType);"
                            ng-repeat="businessType in businessTypes">
                            {{businessType.name}}
                        </li>
                    </ul>
                </span>
                <div class="item special item-with-selects item-grey-border" style="float: left;">
                    <div id="business-type-select-container" class="select-container"
                        ng-repeat="style in chosenBusinessTypeObjects"
                        ng-class="{'select-with-remove': style.index > 0}">
                        <div ng-click="toggleBusinessType(style);" class="select-main">
                            <span>{{style.name}}</span>
                            <button><i ng-class="{'ion-chevron-down': !style.showBusinessTypes, 'ion-chevron-up': style.showBusinessTypes}"></i></button>
                            <button class="remove"
                                ng-if="style.index > 0"
                                ng-click="removeBusinessType(style);">Remove</button>
                        </div>
                    </div>
                </div>
                <label class="item-header item-header-short">
                    <button class="btn button-half btn-white"
                        ng-class="{'disabled': chosenBusinessTypeIds.indexOf(null) != -1}"
                        ng-disabled="chosenBusinessTypeIds.indexOf(null) != -1"
                        ng-click="newBusinessType();">Add a Business Type</button>
                </label>
            </div>
            <label class="item-header">
                Your Main Town
        	</label>
            <div style="float: left; position: relative; width: 100%;">
                <label class="item special" ng-class="{'first': profileType == 'person'}">
                    <div id="town-select-container" class="select-container">
                        <div class="select-main" >
                            <span>{{selectedTown.name}}</span>
                            <button ng-click="toggleTowns();"><i ng-class="{'ion-chevron-down': !showTowns, 'ion-chevron-up': showTowns}"></i></button>
                        </div>
                    </div>
                </label>
                <ul class="select-options select-options-towns" ng-class="{'open': showTowns, 'high': profileType != 'business'}">
                    <li ng-click="selectTown(town);" ng-repeat="town in availableTowns">
                        {{town.name}}
                    </li>
                </ul>
            </div>
            <label class="item-header"
                ng-if="chosenBusinessTypeIds.indexOf(restaurantBusinessTypeId) != -1 || chosenBusinessTypeIds.indexOf(takeawayBusinessTypeId) != -1">
                Restaurant / Takeaway Food Style
        	</label>
            <span class="select-options-container"
                ng-if="chosenBusinessTypeIds.indexOf(restaurantBusinessTypeId) != -1 || chosenBusinessTypeIds.indexOf(takeawayBusinessTypeId) != -1">
                <ul class="select-options select-event-music-{{currentFoodStyleIndexBeingToggled}}"
                    ng-class="{'open': showFoodStyles}">
                    <li ng-click="selectFoodStyle(foodStyle);"
                        ng-repeat="foodStyle in foodStyles">
                        {{foodStyle.name}}
                    </li>
                </ul>
            </span>
            <div class="item special item-with-selects item-grey-border" style="float: left;"
                ng-if="chosenBusinessTypeIds.indexOf(restaurantBusinessTypeId) != -1 || chosenBusinessTypeIds.indexOf(takeawayBusinessTypeId) != -1">
                <div id="business-type-select-container" class="select-container"
                    ng-repeat="style in chosenFoodStyleObjects"
                    ng-class="{'select-with-remove': style.index > 0}">
                    <div ng-click="toggleFoodStyle(style);" class="select-main">
                        <span>{{style.name}}</span>
                        <button><i ng-class="{'ion-chevron-down': !style.showFoodStyles, 'ion-chevron-up': style.showFoodStyles}"></i></button>
                        <button class="remove"
                            ng-if="style.index > 0"
                            ng-click="removeFoodStyle(style);">Remove</button>
                    </div>
                </div>
        	</div>
            <label class="item-header item-header-short"
                ng-if="chosenBusinessTypeIds.indexOf(restaurantBusinessTypeId) != -1 || chosenBusinessTypeIds.indexOf(takeawayBusinessTypeId) != -1">
                <button class="btn button-half btn-white"
                    ng-class="{'disabled': chosenFoodStyleIds.indexOf(null) != -1}"
                    ng-disabled="chosenFoodStyleIds.indexOf(null) != -1"
                    ng-click="newFoodStyle();">Add a Food Style</button>
        	</label>
            <style>
                form {
                    margin-top: 15px;
                }
                label {
                    float: left;
                    z-index: 0;
                    position: relative;
                }
            
                button.skip-step {
                    float: right;
                    margin: 0 5% 15px;
                    background: #eeeeff;
                    border: 1px solid #bbbbff;
                    border-radius: 4px;
                    padding: 2px 25px;
                    color: #667;
                }
            </style>
            
            <label class="item-header">
                Contact Details
            </label>
            <label class="item">
                <input onFocus="window.scrollTo(0, 0);" class="white nightlife-input" type="text" placeholder="Main Phone Number {{businessRequiredString}}" ng-model="phone1" name="phone1"  ng-required="profileType == 'business'">
        	</label>
            <label class="item">
                <input onFocus="window.scrollTo(0, 0);" class="white nightlife-input" type="text" placeholder="2nd Phone Number (optional)" ng-model="phone2" name="phone2">
        	</label>
            <label class="item-header">
                <span ng-show="profileType == 'business'">Business </span>Address
            </label>
            <label class="item">
                <input onFocus="window.scrollTo(0, 0);" class="white nightlife-input" type="text" placeholder="Building Name (optional)" ng-model="name" name="name">
        	</label>
            <label class="item">
                <input onFocus="window.scrollTo(0, 0);" class="white nightlife-input" type="text" placeholder="Address Line 1 {{businessRequiredString}}" ng-model="addressLine1" name="addressLine1" ng-required="profileType == 'business'">
        	</label>
            <label class="item">
                <input onFocus="window.scrollTo(0, 0);" class="white nightlife-input" type="text" placeholder="Address Line 2 (optional)" ng-model="addressLine2" name="addressLine2">
        	</label>
        	<label class="item last">
                <input class="white nightlife-input last" name="postCode" type="text" placeholder="Post Code {{businessRequiredString}}" ng-model="postCode"  ng-required="profileType == 'business'">
        	</label>
        	<button type="submit" id="submit" class="button button-red button-large"
                ng-disabled="completeRegistrationForm.$invalid"
                ng-click="completeRegister(phone1, phone2, name, addressLine1, addressLine2, postCode);">
                Complete Registration
            </button>
        </form>
      </div>
      
  </ion-content>
</ion-view>
