<ion-side-menus enable-menu-with-back-views="true" ng-controller="MainCtrl">
<style>

.tabs .tab-item.nightlife-tab i,
.tabs .tab-item .icon.nightlife-tab-icon-on,
.tabs .tab-item .icon.nightlife-tab-icon-off {
    float: none;
    width: 100%;
    height: 32px;
    display: block;
    margin: auto;
    background-size: 33px;
    background-repeat: no-repeat;
    background-position: 50% 1px;
}

.tabs .tab-item.nightlife-tab i {
    background-image: url('img/n-icon-inactive.png');
}

.platform-android .tabs .tab-item.nightlife-tab i {
    background-image: url('img/n-icon-android-inactive.png');
}

.tabs .tab-item .icon.nightlife-tab-icon-on {
    background-image: url('img/n-icon-active.png');
}
#hidden-dummy {
    background-image: url('img/n-icon-active.png');
}
.platform-browser #hidden-dummy {
    background-image: url('img/n-icon-wide-active.png');
}
</style>
<span class="notification-counter"
    ng-if="(user.currentUnreadNotifications.length + user.currentUnreadMsgGroups.length) > 0">{{user.currentUnreadMsgGroups.length + user.currentUnreadNotifications.length}}</span>
<ion-tabs class="tabs-icon-top"
    ng-class="{'bg-blur-slight': (showSearchPanel || showAssistantPanel) && currentViewName == 'app.feed'}">
    <ion-tab title="MyNyte" class="first-tab-item nightlife-tab" icon-on="nightlife-tab-icon-on" icon-off="nightlife-tab" href="#/app/profile">
        <!-- Tab 1 content -->
        <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Offers/Deals" icon-on="ion-social-usd" icon-off="ion-social-usd" href="#/app/offers">
        <!-- Tab 2 content -->
        <ion-nav-view name="offers-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Feed" icon-on="ion-ios-paper" icon-off="ion-ios-paper" href="#/app/feed">
        <!-- Tab 3 content -->
        <ion-nav-view name="feed-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Taxi" icon-on="ion-android-car" icon-off="ion-android-car" href="#/app/taxi/">
        <!-- Tab 4 content -->
        <ion-nav-view name="taxi-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="More" class="last-tab-item" icon-off="ion-navicon-round" icon-on="ion-navicon-round" href="#/app/more/">
        <!-- Tab 5 content -->
        <ion-nav-view name="more-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
</ion-side-menus>
<span style="display: none; height: 0; width: 0; position:absolute; left: -500px;" id="hidden-dummy">
</span>
