<ion-view view-title="More" class="black_bg border-top more-page no-breadcrumb">
    <ion-content>
        <div class="item">
             <p class="form_logo more-screen">
                <span class="icon-background">
                    <img src="img/more_images/order-takeaway-online-mynyte.jpg" class="main-icon" />
                </span>
             </p>
             <span class="coming-soon-point">
                Coming Soon: Order Takeaways through MyNyte!
             </span>
             <p class="form_logo more-screen">
                <span class="icon-background">
                    <img src="img/more_images/book-cinema-tickets-online-mynyte.jpg" class="main-icon" />
                </span>
             </p>
             
             <span class="coming-soon-point">
                Get cinema tickets and movie showing times with a few clicks!
             </span>
        </div>
    </ion-content>
    <!--
    <div class="taxis-side side" ng-include="'templates/shared-partials/profile-info-sidebar.html'"></div>
    <div class="taxis-side side" ng-include="'templates/shared-partials/offers-sidebar.html'"></div>
    <div class="taxis-side side" ng-include="'templates/shared-partials/events-sidebar.html'"></div>
    -->
</ion-view>
