RewriteEngine On 
almsdlm
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.mynyte.co.uk/$1 [R,L]
RewriteEngine on
RewriteCond %{HTTP_HOST} ^mynyte.co.uk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.mynyte.co.uk$
RewriteCond %{REQUEST_URI} !live/
RewriteRule (.*) /live/$1 [L]