<ion-view view-title="Contact Detail" class="grey_bg">
  	<ion-content>
      <h2>View / Edit contact details for {{contact.name}}</h2>
      <div class="tile register">
        <form ng-submit="editContact(contact._id, contact.businessType, contact.town, contact.companyName, contact.name, contact.role, contact.phone, contact.email, contact.website, contact.note);" name="editContactForm">
            <style>
                label {
                    padding: 0 5px 0 0 !important;
    margin: 0 !important;
    font-size: 16px !important;
    margin-bottom: 15px !important;
    border-color: #770000 !important;
    width: 90% !important;
    margin-left: 5% !important;
    background: #440000 !important;
    border-radius: 7px;
    color: #eee !important;
                }
                label.editing {
                    padding: 15px 5px !important;
    margin: 0 !important;
    font-size: 16px !important;
    margin-bottom: 15px !important;
    border-color: #770000 !important;
    background: #ccc !important;
    width: 90% !important;
    margin-left: 5% !important;
    border-radius: 7px;
                }
            
                label p {
                    margin-bottom: 0 !important;
                }
            
                label span.heading {
                    float: left;
                    color: #440000;
                    background: #ccc;
                    padding: 15px 2%;
                    border: 1px solid #FFF;
                    width: 20%;
                    text-align: right;
                    white-space: normal;
                }
                label span.detail {
                    float: left;
                    color: #ddd;
                    padding: 15px 2%;
                    white-space: normal;
                }
            
                label input {
                    float: left;
                    width: 78% !important;
                    margin-top: 3px;
                    margin-left: 2%;
                    border-radius: 4px;
                }
            
                input.dark-red {
                    background: #220000 !important;
                    border: 1px solid #770000 !important;
                    color: #eee !important;
                }
            </style>
            <label class="item">
                <p>
                    <span class="heading">Contacts Name</span>
                    <span ng-hide="editing" class="detail">{{contact.name}}</span>
                    <input ng-show="editing" name="name" class="dark-red nightlife-input" type="text" ng-model="contact.name" required>
                </p>
        	</label>
            <label class="item">
                <p>
                    <span class="heading">Company Name</span>
                    <span ng-hide="editing" class="detail">{{contact.companyName}}</span>
                    <input ng-show="editing" class="dark-red nightlife-input" type="text" ng-model="contact.companyName" name="companyName" required>
                </p>
        	</label>
            <label class="item first">
                <p>
                    <span class="heading">Business Type</span>
                    <span ng-hide="editing" class="detail">{{contact.businessType}}</span>
                    <input ng-show="editing" class="dark-red nightlife-input" type="text" ng-model="contact.businessType" name="businessType" required>
                </p>
        	</label>
            <label class="item">
                <p>
                    <span class="heading">Town</span>
                    <span ng-hide="editing" class="detail">{{contact.town}}</span>
                    <input ng-show="editing" class="dark-red nightlife-input" type="text" ng-model="contact.town" name="town" required>
                </p>
        	</label>
            
            <label class="item">
                <p>
                    <span class="heading">Role</span>
                    <span ng-hide="editing" class="detail">{{contact.role}}</span>
                    <input ng-show="editing" name="role" class="dark-red nightlife-input" type="text" ng-model="contact.role">
                </p>
        	</label>
            <label class="item">
                <p>
                    <span class="heading">Phone</span>
                    <span ng-hide="editing" class="detail">{{contact.phone}}</span>
                    <input ng-show="editing" class="dark-red nightlife-input" type="tel" ng-model="contact.phone">
                </p>
        	</label>
        	<label class="item">
                <p>
                    <span class="heading">e-mail</span>
                    <span ng-hide="editing" class="detail">{{contact.email}}</span>
                    <input ng-show="editing" class="dark-red nightlife-input" type="email" ng-model="contact.email">
                </p>
        	</label>
            <label class="item">
                <p>
                    <span class="heading">Website</span>
                    <span ng-hide="editing" class="detail">{{contact.website}}</span>
                    <input ng-show="editing" class="dark-red nightlife-input" type="text" ng-model="contact.website">
                </p>
        	</label>
            <label class="item last">
                <p>
                    <span class="heading">Note</span>
                    <span ng-hide="editing" class="detail">{{contact.note}}</span>
                    <input ng-show="editing" class="dark-red nightlife-input" type="text" ng-model="contact.note">
                </p>
        	</label>
        	<button ng-disabled=" !editing || editContactForm.$invalid || (editContactForm.email.$viewValue == '' && editContactForm.phone.$viewValue == '')" class="button button-red button-large">
                APPLY CHANGES
            </button>
        </form>
      </div>
      
  </ion-content>
</ion-view>
