<ion-view view-title="{{rootScope.pageTitle}} on MyNyte.co.uk" class="black_bg border-top no-breadcrumb">
   <ion-content has-header="true">
        <div ng-if="!rootScope.userLoggedIn" id="log-in-container">
            <div class="item log-in">
                <div>
                    <img id="profile-image" src="sneak-preview/img/n-logo.png">
                </div>
                <form name="logInForm">
                    <label class="item-input-wrapper email">
                        <input name="email" ng-model="email" class="white nightlife-input" type="text" placeholder="E-mail address" required/>
                    </label>
                    <div class="item-input-wrapper pword">
                        <input name="word" ng-model="word" class="white nightlife-input" type="{{passwordInputType}}" placeholder="Password" required/>
                        <button
                            ng-click="togglePasswordView($event)">
                            {{togglePasswordViewButtonText}}
                        </button>
                    </div>
                
                    <button type="submit" id="submit" class="submit button button-large button-red"
                        ng-click="logIn(email, word)"
                        ng-disabled="logInForm.$invalid"
                        ng-class="{'disabled': logInForm.$invalid}">
                        <span class="inner-wrapper">
                            <i class="ion-ios-person"></i>
                            <span class="text">Log into MyNyte</span>
                        </span>
                    </button>
                    <button type="submit" id="submit" class="submit facebook button button-large button-blue"
                        ng-click="fbLogin()">
                        <span class="inner-wrapper">
                            <i class="ion-social-facebook"></i>
                            <span class="text">Or log in with Facebook</span>
                        </span>
                    </button>
                </form>
                
                <a href="#/app/registerIntro">Register with MyNyte</a>
                <a href="#/app/resetPassword/1//">Forgot Your Password</a>
                <a ng-if="rootScope.underConstruction && rootScope.adminUserLoggedIn"
                    ng-click="rootScope.adminLogOut();">Log Out Admin User</a>
        	</div>
        </div>
        
        <div class="final-profile-login-window item trans"
            ng-class="{'open': showFinalProfileLogInWindow}">
            <form name="fbRegistrationForm" class="edit-form">
                <label class="item-header first">
                    Choose a Display Name
                </label>
                <label class="item">
                    <input name="displayName" class="white nightlife-input nightlife-input-square" type="text" placeholder="Display Name"
                        ng-keyup="checkIfDisplayNameTaken(fbRegistrationForm.displayName.$viewValue)"
                        ng-focus="showDisplayNameNoteFunc(true)"
                        ng-maxlength="100"
                        ng-minlength="5"
                        ng-blur="showDisplayNameNoteFunc(false)"
                        ng-model="displayName"
                        ng-pattern="/^([a-zA-Z0-9-_]+)$/"
                        required>
                    
                    <i class="ion-close input-alert"
                        ng-if="(fbRegistrationForm.displayName.$viewValue.length > 0 && fbRegistrationForm.displayName.$viewValue.length < 5) || displayNameTaken"></i>
                    <div class="form-note form-note-top form-note-white"
                        ng-class="{'form-note-red-override': fbRegistrationForm.displayName.$error['pattern'] || (fbRegistrationForm.displayName.$invalid && fbRegistrationForm.displayName.$viewValue.length > 5),
                            'show': showDisplayNameNote && (fbRegistrationForm.displayName.$viewValue.length < 5 || fbRegistrationForm.displayName.$invalid)}" role="alert">
                        <div>Display Names must be at least 5 characters in length, and cannot contain any spaces. They can only contain letters, numbers and the following special characters: - _.</div>
                    </div>
                    <div class="form-note" role="alert" style="position:relative;"
                        ng-class="{'show': fbRegistrationForm.displayName.$viewValue.length > 4 && !fbRegistrationForm.displayName.$invalid && showDisplayNameNote}">
                        <div class="form-note-red" ng-show="displayNameTaken">
                            Display Name unavailable.
                        </div>
                        <div class="form-note-secondary form-note-white" ng-show="!displayNameTaken">
                            Display Name available!
                        </div>
                    </div>
                </label>
                <button type="submit" id="submit" class="button button-red button-large"
                ng-disabled="fbRegistrationForm.$invalid || displayNameTaken"
                ng-click="createFBUserProfile(displayName);">
                    Complete Registration
                </button>
            </form>
        </div>
        
        <div ng-if="rootScope.userLoggedIn">
        
            <div id="profile-mainContent">
                <div id="content">
                
                    <style>
                        label.item-header {
                            width: 100%;
                            padding: 7px 10px;
                            border-top: 1px solid #403535;
                            border-bottom: 2px solid #231c1c;
                            border-left: none;
                            border-right: none;
                            margin-top: 2px;
                        }
                    </style>
                    <div class="list">
                        <a class="item item-red item-icon-left first" ui-sref="app.profile.notificationsSummary()">
                            <i class="icon ion-android-notifications"></i>
                            Notifications
                            <span class="profile-item-counter"
                                ng-class="{'outstanding': profileItemCount['notificationCountType'] == 'outstanding'}"
                                ng-if="profileItemCount['notificationCountType'] == 'outstanding'">{{profileItemCount['notificationCount']}}</span>
                        </a>
                        <a class="item item-red item-icon-left" ui-sref="app.profile.messageGroups({relListing: null, groupType: 'Person'})"
                            ng-show="rootScope.user.isBusiness == '0'">
                            <i class="icon ion-email"></i>
                            Messages
                            <span class="profile-item-counter"
                                ng-class="{'outstanding': profileItemCount['messageCountType'] == 'outstanding'}"
                                ng-if="profileItemCount['messageCountType'] == 'outstanding'">{{profileItemCount['messageCount']}}</span>
                        </a>
                        <a class="item item-red item-icon-left" ui-sref="app.profile.messageGroups({relListing: null, groupType: 'Business'})">
                            <i class="icon ion-email"></i>
                            Enquiries <span ng-show="rootScope.user.isBusiness == '0'">(Business)</span>
                            <span class="profile-item-counter"
                                ng-class="{'outstanding': profileItemCount['enquiryCountType'] == 'outstanding'}"
                                ng-if="profileItemCount['enquiryCountType'] == 'outstanding'">{{profileItemCount['enquiryCount']}}</span>
                        </a>
                        <label ng-show="rootScope.user.isBusiness == '1'" class="item-header">
                            <span ng-repeat="listingType in rootScope.user.listingTypes"><span ng-if="listingType != rootScope.user.listingTypes[0]">&nbsp;&amp;&nbsp;</span>{{listingType}}</span> Business Tools</label>
                        <label ng-show="rootScope.user.isBusiness == '0'" class="item-header">My MyNyte Activity &amp; Entertainment <span class="current-month-label">|&nbsp;&nbsp;{{currentMonth}}</span></label>
                        <a ng-if="rootScope.user.listingTypes.indexOf('Nightclub') != -1 || rootScope.user.listingTypes.indexOf('Bar') != -1" class="item item-icon-left"  ui-sref="app.businessItems({itemType:'OwnEvents', timeScale: 'present'})">
                            <i class="icon ion-ios-calendar"></i>
                            My Events
                        </a>
                        <a ng-if="rootScope.user.listingTypes.indexOf('Restaurant') != -1" class="item item-red item-icon-left"  ui-sref="app.businessItems({itemType:'RequestedTableBookings', timeScale: 'present'})">
                            <i class="icon ion-fork"></i>
                            Table Booking Requests
                        </a>
                        <!--<a ng-show="rootScope.user.listingTypes.indexOf('Takeaway') != -1" class="item item-red item-icon-left"  ui-sref="app.businessItems({itemType:'RequestedTakeawayOrders', timeScale: 'present'})">
                            <i class="icon ion-fork"></i>
                            My Takeaway Order Requests
                        </a>-->
                        <a ng-if="rootScope.user.listingTypes.indexOf('Restaurant') != -1" class="item item-icon-left" ui-sref="app.businessItems({itemType:'OwnTableBookings', timeScale: 'present'})">
                            <i class="icon ion-fork"></i>
                            My Accepted Table Bookings
                        </a>
                        <!--<a ng-show="rootScope.user.listingTypes.indexOf('Takeaway') != -1" class="item item-red item-icon-left"  ui-sref="app.businessItems({itemType:'OwnTakeawayOrders', timeScale: 'present'})">
                            <i class="icon ion-fork"></i>
                            My Current Takeaway Orders
                        </a>-->
                        <a ng-if="rootScope.user.listingTypes.indexOf('Taxi Firm') != -1" class="item item-red item-icon-left" ui-sref="app.businessItems({itemType:'RequestedTaxiBookings', timeScale: 'present'})">
                            <i class="icon ion-android-car"></i>
                            Taxi Booking Requests
                        </a>
                        <a ng-if="rootScope.user.listingTypes.indexOf('Taxi Firm') != -1" class="item item-icon-left" ui-sref="app.businessItems({itemType:'OwnTaxiBookings', timeScale: 'present'})">
                            <i class="icon ion-android-car"></i>
                            My Claimed Taxi Bookings
                        </a>
                        <a ng-if="rootScope.user.listingTypes.indexOf('myNyte') != -1" class="item item-icon-left" ui-sref="app.contacts()">
                            <i class="icon ion-ios-telephone"></i>
                            My Contacts
                        </a>
                        <a ng-if="rootScope.user.listingTypes.indexOf('myNyte') != -1" class="item item-icon-left" ui-sref="app.register({profileType: 'myNyte'})">
                            <i class="icon ion-android-folder-open"></i>
                            Add a Business
                        </a>
                        <a ng-if="rootScope.user.listingTypes.indexOf('myNyte') != -1" class="item item-icon-left" ui-sref="app.businessItems({itemType: 'Movies', timeScale: 'present'})">
                            <i class="icon ion-film-marker"></i>
                            Current MyNyte Movies
                        </a>
                        <a ng-if="rootScope.user.listingTypes.indexOf('myNyte') != -1" class="item item-dark-grey item-icon-left" ui-sref="app.businessItems({itemType: 'Movies', timeScale: 'past'})">
                            <i class="icon ion-film-marker"></i>
                            Past MyNyte Movies
                        </a>
                        <a class="item item-icon-left"
                            ng-if="rootScope.user.listingTypes.indexOf('Takeaway') != -1 || rootScope.user.listingTypes.indexOf('Restaurant') != -1"
                            ng-click="goToFirstMenuPage();">
                            <i class="icon ion-ios-paper"></i>
                            My Menu<span ng-show="rootScope.user.listingTypes.indexOf('Takeaway') != -1 && rootScope.user.listingTypes.indexOf('Restaurant') != -1"></span>
                        </a>
                        <a ng-if="rootScope.user.listingTypes.indexOf('myNyte') != -1" class="item item-icon-left" ui-sref="app.contacts()">
                            <i class="icon ion-stats-bars"></i>
                            NightLife Analytics
                        </a>
                        <a ng-if="rootScope.user.isBusiness == 1" class="item item-icon-left" ui-sref="app.businessItems({itemType:'OwnOffers', timeScale: 'present'})">
                            <i class="icon ion-social-usd"></i>
                            My Offers
                        </a>
                        <!--
                        <a ng-if="rootScope.user.listingTypes.indexOf('Bar') != -1 || rootScope.user.listingTypes.indexOf('Nightclub') != -1 || rootScope.user.listingTypes.indexOf('Events Promoter') != -1 || rootScope.user.listingTypes.indexOf('Local Artist') != -1" class="item item-icon-left item-with-note"  ui-sref="app.businessItems({itemType:'OwnEvents', timeScale: 'present'})">
                            <i class="icon ion-network"></i>
                            Nightlife Connections
                            <span>Discover/work with new Promoters, Clubs, DJs &amp; Artists</span>
                        </a>
                        <a ng-if="rootScope.user.isBusiness == 1 && rootScope.user.listingTypes.indexOf('myNyte') == -1" class="item item-icon-left item-with-note" ui-sref="app.businessItems({itemType:'OwnOffers', timeScale: 'present'})">
                            <i class="icon ion-speakerphone"></i>
                            Promote my Business
                            <span>Promote your business to your customers</span>
                        </a>
                        -->
                        <a ng-if="rootScope.user.listingTypes.indexOf('Taxi Firm') != -1" class="item item-dark-grey item-icon-left" ui-sref="app.businessItems({itemType:'OwnTaxiBookings', timeScale: 'past'})">
                            <i class="icon ion-android-car"></i>
                            Past Taxi Bookings
                        </a>
                        <a ng-if="rootScope.user.listingTypes.indexOf('Restaurant') != -1" class="item item-dark-grey item-icon-left" ui-sref="app.businessItems({itemType:'OwnTableBookings', timeScale: 'past'})">
                            <i class="icon ion-fork"></i>
                            Past Table Bookings
                        </a>
                        <a ng-if="rootScope.user.listingTypes.indexOf('Bar') != -1 || rootScope.user.listingTypes.indexOf('Nightclub') != -1" class="item item-dark-grey item-icon-left"  ui-sref="app.businessItems({itemType:'OwnEvents', timeScale: 'past'})">
                            <i class="icon ion-ios-calendar-outline"></i>
                            Past Events
                        </a>
                        <a ng-if="rootScope.user.isBusiness == 1" class="item item-dark-grey item-icon-left" ui-sref="app.businessItems({itemType:'OwnOffers', timeScale: 'past'})">
                            <i class="icon ion-social-usd-outline"></i>
                            Past Offers
                        </a>
                        <a ng-if="rootScope.user.isBusiness == 0" class="item item-icon-left"  ui-sref="app.businessItems({itemType:'myNYTEActivity', timeScale: 'present'})">
                            <i class="icon ion-ios-calendar"></i>
                            My MyNyte Activity
                        </a>
                        <!--
                        <a ng-if="rootScope.user.isBusiness == 0" class="item item-icon-left" ui-sref="app.businessItems({itemType:'OwnOffers', timeScale: 'past'})">
                            <i class="icon ion-social-usd-outline"></i>
                            My Playlists
                        </a>
                        <a ng-if="rootScope.user.isBusiness == 0" class="item item-icon-left" ui-sref="app.videos({itemType:'Party Playlists'})">
                            <i class="icon ion-music-note"></i>
                            Party Playlists
                        </a>
                        <a ng-if="rootScope.user.isBusiness == 0" class="item item-icon-left" ui-sref="app.videos({itemType:'Movie Trailers'})">
                            <i class="icon ion-ios-film"></i>
                            Movie Trailers
                        </a>
                        -->
                        <a ng-if="rootScope.user.isBusiness == 0" class="item item-icon-left item-dark-grey"  ui-sref="app.businessItems({itemType:'myNYTEActivity', timeScale: 'past'})">
                            <i class="icon ion-ios-calendar"></i>
                            Past MyNyte Activity
                        </a>
                        
                        <span class="item-spacer item-spacer-small"></span>
                        <a class="item item-icon-left photo-select"
                            ui-sref="app.profileItems({itemType:'PhotosSummary'})">
                            <i class="icon ion-images"></i>
                            Pictures
                        </a>
                        <a class="item item-icon-left" 
                            ui-sref="app.profileItems({itemType:'Watched', timeScale: 'present'})">
                            <i class="icon ion-eye"></i>
                            Watched Items
                        </a>
                        <a class="item item-icon-left" 
                            ui-sref="app.profileItems({itemType:'Following'})">
                            <i class="icon ion-person-stalker"></i>
                            Followers
                        </a>
                        <a class="item item-icon-left" 
                            ui-sref="app.profileItems({itemType:'Followed'})">
                            <i class="icon ion-star"></i>
                            Following
                        </a>
                        <a class="item item-icon-left" 
                            ui-sref="app.profileItems({itemType:'Likes', timeScale: 'present'})">
                            <i class="icon ion-thumbsup"></i>
                            Likes
                        </a>
                        <a class="item item-icon-left item-dark-grey"
                            ui-sref="app.profileItems({itemType:'Watched', timeScale: 'past'})">
                            <i class="icon ion-eye"></i>
                            Past Watched Items
                        </a>
                        <a class="item item-icon-left item-dark-grey" 
                            ui-sref="app.profileItems({itemType:'Likes', timeScale: 'past'})"
                            ng-if="rootScope.user.isBusiness == '0'">
                            <i class="icon ion-thumbsup"></i>
                            Past Liked Items
                        </a>
                        
                        <span class="item-spacer item-spacer-medium"></span>
                        
                        <a class="item item-icon-left"
                            ng-if="rootScope.user.isBusiness == 1"
                            ui-sref="app.accountSettings({settingsType:'Business'})">
                            <i class="icon ion-compose"></i>
                            Business Settings
                        </a>
                        <span class="item-spacer item-spacer-small"
                            ng-if="rootScope.user.isBusiness == 1"></span>
                        
                        <a class="item item-icon-left"
                            ui-sref="app.accountSettings({settingsType:'Profile'})">
                            <i class="icon ion-person"></i>
                            <span ng-if="rootScope.user.isBusiness == '1'">Business&nbsp;</span>Profile Settings
                        </a>
                        <span class="item-spacer item-spacer-medium"></span>
                        
                        <a class="item item-red item-icon-left"
                            ui-sref="app.contactMyNyte()">
                            <i class="icon ion-compose"></i>
                            Contact the MyNyte Team
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
   
</ion-view>
