<ion-view view-title="Reset your MyNyte Password on MyNyte.co.uk" class="grey_bg">
  	<ion-content scroll="false">
        <div class="page-loading-container"
            ng-show="pageLoading">
            <ion-spinner icon="lines" class="spinner-red"></ion-spinner>
            <span class="loading-text">Loading ...</span>
        </div>
        <h2 ng-if="!pageLoading">Reset Password</h2>
        <div class="tile register businesses-items-note"
            ng-if="stage == 1 && !pageLoading">
            <form ng-submit="requestCode('initial', null);" name="resetPasswordForm">
                <label class="item item-header first">
                    Enter your email address
                </label>
                <label class="item first">
                    <input class="white nightlife-input nightlife-input-square" type="text" placeholder="Please enter your email address" name="email"
                        ng-focus="showEmailNote = true"
                        ng-blur="showEmailNote = false"
                        ng-model="form.email"
                        ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                        required>
                    <i class="ion-close input-alert"
                        ng-if="resetPasswordForm.email.$viewValue.length > 5 && resetPasswordForm.email.$invalid"></i>
                    <div class="form-note form-note-white" role="alert"
                        ng-class="{'form-note-red-override': resetPasswordForm.email.$viewValue.length > 5 && resetPasswordForm.email.$invalid,
                            'show': showEmailNote}">
                        Please enter a valid email address.
                    </div>
                </label>
                <button ng-disabled="resetPasswordForm.$invalid" class="button button-red button-large">
                    SUBMIT
                </button>
            </form>
        </div>
        <div class="tile register"
            ng-if="stage == 2 && !pageLoading">
            <form ng-submit="submitNewPassword();" name="resetPasswordForm2"
                ng-if="!codeInvalid && !codeUnrecognized && !queryUnsuccessful">
                <label class="item item-header first">
                    Enter and confirm a new password
                </label>
                <label class="item">
                    <input class="white nightlife-input" name="password" type="password" placeholder="Enter New Password"
                        ng-focus="showPasswordNote = true"
                        ng-blur="showPasswordNote = false"
                        ng-pattern="/^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/"
                        ng-maxlength="20"
                        ng-minlength="6"
                        ng-model="form.password"
                        required />
                    <i class="ion-close input-alert"
                        ng-if="resetPasswordForm2.password.$viewValue.length > 0 && resetPasswordForm2.password.$invalid"></i>
                    
                    <div class="form-note form-note-white" role="alert"
                        ng-class="{'form-note-red-override': resetPasswordForm2.password.$invalid && resetPasswordForm2.password.$viewValue.length > 5,
                            'show': showPasswordNote || (resetPasswordForm2.password.$viewValue.length > 0 && registrationForm.password.$invalid)}">
                        <div>Passwords must be between 6 and 20 Characters, and must contain at least one capital letter and one number.</div>
                    </div>
                </label>
                <label class="item last">
                    <input class="white nightlife-input last" name="confirmPassword" type="password" placeholder="Confirm New Password"
                        ng-focus="showConfirmPasswordNote = true"
                        ng-blur="showConfirmPasswordNote = false"
                        ng-maxlength="20"
                        ng-minlength="6"
                        ng-model="form.confirmPassword"
                        required />
                    <i class="ion-close input-alert"
                        ng-if="resetPasswordForm2.confirmPassword.$viewValue.length > 0 && resetPasswordForm2.confirmPassword.$viewValue != resetPasswordForm2.password.$viewValue"></i>
                    <div class="form-note form-note-white" role="alert"
                        ng-class="{'form-note-red-override': resetPasswordForm2.confirmPassword.$viewValue != resetPasswordForm2.password.$viewValue && resetPasswordForm2.confirmPassword.$viewValue.length > 5,
                            'show': showConfirmPasswordNote || (resetPasswordForm2.confirmPassword.$viewValue.length > 0 && registrationForm.confirmPassword.$invalid)}">
                        <div>Please confirm your password.</div>
                    </div>
                </label>
                <button class="button button-red button-large"
                    ng-disabled="resetPasswordForm2.$invalid || resetPasswordForm2.confirmPassword.$viewValue != resetPasswordForm2.password.$viewValue"
                    ng-click="updateProfilePasswordDetails()">
                    SUBMIT NEW PASSWORD
                </button>
            </form>
            <div class="profiles-items-note"
                ng-if="codeInvalid || codeUnrecognized || queryUnsuccessful">
                <i class="ion-alert-circled main large"></i>
                <p ng-if="codeInvalid">
                    The Reset code you have provided has expired. You can request another Reset code by clicking below.
                </p>
                <p ng-if="codeUnrecognized">
                    The Reset Code you have provided is invalid.
                </p>
                <p ng-if="queryUnsuccessful">
                    An error occurred while processing your request. Please try again later.
                </p>
                <button ng-click="requestCode('re-request', email)" class="button button-red button-large"
                    ng-if="codeInvalid">
                    Request Another Code
                </button>
                <button ng-click="backToHomepage()" class="button button-red button-large">
                    Back to Homepage
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
