<div class="bottom-right-side-display side-display">
    <h3>In App Stores Now</h3>
    <div ng-repeat="img in bottomRightImgArray">
        <img style="opacity: 0;" class="x-slow-trans"
            ng-class="{'show': img.show, 'absolute': img.class == 'absolute'}"
            ng-src="{{img.src}}" class="display-image" />
            <div class="inner-links">
                <a href="https://itunes.apple.com/us/app/mynyte-the-all-in-one-evening-planning-app/id1104398563?ls=1&mt=8" target="_blank">
                    <i class="ion-social-apple trans"></i>
                </a>
                <a href="{{img.href}}" target="_blank">
                    <i class="ion-social-android trans"></i>
                </a>
            </div>
    </div>
</div>
