<div class="kickstarter-side-display side-display">
    <h3>Coming Soon: Support our Kickstarter!</h3>
    <div class="display-top-note">
        Something exciting's happening in Bedford...
    </div>
    <p class="display-text">
        MyNyte have been busy as hell lately and we've managed to make a lot come from a little. We're really excited about the things we can do etc...'
    </p>
    <img ng-src="https://1.bp.blogspot.com/-IMsTheNxIqo/VYGjyM2hLiI/AAAAAAAAA1g/ZQO2uRgQSU4/s800/cappadocia-805624_1280.jpg" alt="Support the MyNyte Kickstarter" />
</div>
