<ion-view view-title="My Control Panel on MyNyte.co.uk" class="black_bg border-top no-breadcrumb admin tile-view">
   <ion-content has-header="true">
        <div ng-if="!rootScope.userLoggedIn" id="log-in-container">
            <div class="item log-in">
                <div>
                    <img id="profile-image" src="sneak-preview/img/n-logo.png">
                </div>
                <form name="logInForm">
                    <label class="item-input-wrapper email">
                        <input name="email" ng-model="email" class="white nightlife-input" type="text" placeholder="E-mail address" required/>
                    </label>
                    <div class="item-input-wrapper pword">
                        <input name="word" ng-model="word" class="white nightlife-input" type="{{passwordInputType}}" placeholder="Password" required/>
                        <button
                            ng-click="togglePasswordView($event)">
                            {{togglePasswordViewButtonText}}
                        </button>
                    </div>
                
                    <button type="submit" id="submit" class="submit button button-large button-red"
                        ng-click="logIn(email, word)"
                        ng-disabled="logInForm.$invalid"
                        ng-class="{'disabled': logInForm.$invalid}">
                        <span class="inner-wrapper">
                            <i class="ion-ios-person"></i>
                            <span class="text">Log into MyNotes</span>
                        </span>
                    </button>
                </form>
                
                <a href="#/app/resetPassword/1//">Forgot Your Password</a>
                <a ng-if="rootScope.underConstruction && rootScope.adminUserLoggedIn"
                    ng-click="rootScope.adminLogOut();">Log Out Admin User</a>
        	</div>
        </div>
        
        <div ng-if="rootScope.userLoggedIn">
        
            <div id="profile-mainContent">
                <div id="content">
                
                    <style>
                        label.item-header {
                            width: 100%;
                            padding: 7px 10px;
                            border-top: 1px solid #403535;
                            border-bottom: 2px solid #231c1c;
                            border-left: none;
                            border-right: none;
                            margin-top: 2px;
                        }
                    </style>
                    <div class="list">
                        
                        <label class="item-header">
                            My Routine Tasks
                        </label>
                        <a class="item item-icon-left" ui-sref="app.movieMaintenance()">
                            <i class="icon ion-film-marker"></i>
                            Movie Maintenance
                            
                            <span class="profile-item-counter"
                                ng-if="pageObj['moviesToUpdateCount'] > 0">{{pageObj['moviesToUpdateCount']}}</span>
                        </a>
                        <a class="item item-icon-left" ui-sref="app.businessItems({itemType:'OwnOffers', timeScale: 'present'})">
                            <i class="icon ion-ios-chatboxes"></i>
                            Unseen User Messages for MyNyte
                        </a>
                        <a class="item item-icon-left" ui-sref="app.fillTimeSheet()">
                            <i class="icon ion-clock"></i>
                            Current Timesheet
                        </a>
                        <a class="item item-icon-left item-red" ui-sref="app.myNyteItems({_parentId: rootScope.user._profileId, itemType: 'Time Sheet', extraFiltersString: '[[\'Outstanding\':=\'true\']]'})">
                            <i class="icon ion-clock"></i>
                            Outstanding Timesheets
                            <span class="profile-item-counter"
                                ng-if="pageObj['outstandingTimeSheetCount'] > 0">{{pageObj['outstandingTimeSheetCount']}}</span>
                        </a>
                        <label class="item-header">
                            My Email &amp; Messages
                        </label>
                        <a class="item item-icon-left" href="http://webmail.mynyte.co.uk" target="_blank">
                            <i class="icon ion-at"></i>
                            My Email
                        </a>
                        <a class="item item-icon-left" ng-click="checkPerms()">
                            <i class="icon ion-ios-people"></i>
                            My Team Chats
                            <i class="icon ion-locked admin-icon"
                                ng-if="rootScope.user.specialRole != 'Administrator'"></i>
                        </a>
                        <label class="item-header">
                            Contacts &amp; Businesses
                        </label>
                        <a class="item item-icon-left" ui-sref="app.myNyteItems({_parentId: rootScope.user._profileId, itemType: 'External Contact'})">
                            <i class="icon ion-ios-bookmarks-outline"></i>
                            Contacts
                        </a>
                        <a class="item item-icon-left item-red" ui-sref="app.myNyteItem({_parentId: rootScope.user._profileId, itemType: 'External Contact', format: 'Create'})">
                            <i class="icon ion-ios-bookmarks"></i>
                            Add a Contact
                        </a>
                        <a class="item item-icon-left" ng-click="checkPerms()">
                            <i class="icon ion-android-folder-open"></i>
                            Businesses
                            <i class="icon ion-locked admin-icon"
                                ng-if="rootScope.user.specialRole != 'Administrator'"></i>
                        </a>
                        <a class="item item-icon-left item-red" ng-click="checkPerms('app.register', {profileType: 'myNyte'})">
                            <i class="icon ion-android-folder"></i>
                            Add a Business
                            <i class="icon ion-locked admin-icon"
                                ng-if="rootScope.user.specialRole != 'Administrator'"></i>
                        </a>
                        
                        <label class="item-header">
                            Email &amp; Push Marketing
                        </label>
                        <a class="item item-icon-left" ui-sref="app.marketingEmails()">
                            <i class="icon ion-ios-email-outline"></i>
                            See Marketing Emails
                        </a>
                        <a class="item item-icon-left item-red" ng-click="checkPerms()">
                            <i class="icon ion-paper-airplane"></i>
                            Send out Marketing Email
                            <i class="icon ion-locked admin-icon"
                                ng-if="rootScope.user.specialRole != 'Administrator'"></i>
                        </a>
                        <a class="item item-icon-left" ng-click="checkPerms()">
                            <i class="icon ion-android-phone-portrait"></i>
                            See Push Campaigns
                            <i class="icon ion-locked admin-icon"
                                ng-if="rootScope.user.specialRole != 'Administrator'"></i>
                        </a>
                        <a class="item item-icon-left item-red" ng-click="checkPerms()">
                            <i class="icon ion-android-phone-portrait"></i>
                            Send out Push Notification
                            <i class="icon ion-locked admin-icon"
                                ng-if="rootScope.user.specialRole != 'Administrator'"></i>
                        </a>
                        <label class="item-header">
                            Admin
                        </label>
                        <a class="item item-icon-left item-red" ui-sref="app.businessItems({itemType:'OwnOffers', timeScale: 'present'})">
                            <i class="icon ion-film-marker"></i>
                            Movie Maintenance
                        </a>
                        <a class="item item-icon-left" ui-sref="app.myNyteItems({_parentId: '0', itemType: 'MyNyte Account'})">
                            <i class="icon ion-unlocked"></i>
                            MyNyte Account Codes
                        </a>
                        <a class="item item-icon-left item-red" ui-sref="app.fillTimeSheet()">
                            <i class="icon ion-clock"></i>
                            Current Time Sheet
                        </a>
                        <a class="item item-icon-left" ui-sref="app.myNyteItems({itemType:'Time Sheet'})">
                            <i class="icon ion-clock"></i>
                            Time Sheets
                        </a>
                        <a class="item item-icon-left item-red" ui-sref="app.myNyteItem({itemType:'Expense Claim', format: 'Create'})">
                            <i class="icon ion-social-usd"></i>
                            New Expense Claim
                        </a>
                        <a class="item item-icon-left" ui-sref="app.myNyteItems({itemType:'Expense Claim'})">
                            <i class="icon ion-social-usd"></i>
                            Expense Claims
                        </a>
                        <a class="item item-icon-left item-red" ui-sref="app.businessItems({itemType:'OwnOffers', timeScale: 'present'})">
                            <i class="icon ion-ios-chatboxes"></i>
                            Unseen User Messages for MyNyte
                        </a>
                        <a class="item item-icon-left" ng-click="openFrame({frameContent: 'User Messages MyNyte'})">
                            <i class="icon ion-ios-chatboxes-outline"></i>
                            User Messages for MyNyte
                        </a>
                        <a class="item item-icon-left" href="https://drive.google.com/drive/" target="_blank">
                            <i class="icon ion-social-google"></i>
                            Google Drive Files
                        </a>
                        <a class="item item-icon-left" ng-click="checkPerms()">
                            <i class="icon ion-stats-bars"></i>
                            NightLife Analytics
                            <i class="icon ion-locked admin-icon"
                                ng-if="rootScope.user.specialRole != 'Administrator'"></i>
                        </a>
                        
                        <label class="item-header">
                            Help &amp; Info
                        </label>
                        
                        <a class="item item-icon-left" ui-sref="app.myNyteItems({_parentId: 0, itemType: 'Useful Link'})">
                            <i class="icon ion-link"></i>
                            Useful Links
                        </a>
                        <a class="item item-icon-left" ui-sref="app.helpDocumentation()">
                            <i class="icon ion-ios-information-outline"></i>
                            Help Documents
                        </a>
                        <label class="item-header">
                            Settings
                        </label>
                        
                        <a class="item item-icon-left"
                            ng-if="rootScope.user.isBusiness == 1"
                            ui-sref="app.accountSettings({settingsType:'Business'})">
                            <i class="icon ion-compose"></i>
                            Business Settings
                        </a>
                        
                        <a class="item item-icon-left"
                            ui-sref="app.accountSettings({settingsType:'Profile'})">
                            <i class="icon ion-person"></i>
                            <span ng-if="rootScope.user.isBusiness == '1'">Business&nbsp;</span>Profile Settings
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
   
</ion-view>
