<ion-view view-title="{{rootScope.pageTitle}} on MyNyte.co.uk" class="black_bg">
  	<ion-content>
        <div class="page-loading-container"
            ng-show="pageLoading != false">
            <ion-spinner icon="lines" class="spinner-red"></ion-spinner>
            <span class="loading-text">Loading ...</span>
        </div>
        <div class="add-message-container"
            ng-if="rootScope.user.isBusiness == '1' && offer._offerTypeId != '1' && pageLoading == false">
            <div class="add-searchMessage topMessage">
                <p>You cannot make an enquiry about an offer using a MyNyte Business profile.</p>
            </div>
        </div>
        
        <div class="list view-wrapper"
            ng-if="pageLoading == false">

            <div id="offers-detailedContent" class="detailedContent">
                <div id="offers-detailedContent-inner" class="detailedContent-inner">
                    <div class="mainImg">
                        <img class="main-img" ng-src="https://www.mynyte.co.uk/sneak-preview/img/user_images/cover_photo/{{offer.currentOfferCoverPhotoName}}"
                            ng-if="offer.currentOfferCoverPhotoName != 'default-offer.jpg'"/>
                    </div>
                    <div class="offers-items-note"
                        ng-if="pageTitle == 'Invalid Offer'">
                        <i class="ion-social-usd main"></i>
                        <p>
                            This offer has either been deleted or is not valid.
                        </p>
                    </div>
                    <div class="mainText"
                        ng-if="pageTitle != 'Invalid Offer'">
                        <h3 class="offer-timescale">
                            <span ng-if="offer.timeScale == 'future'">
                                Hold your horses buddy, this offer's not yet started.
                            </span>
                            <span ng-if="offer.timeScale == 'present'">
                                Offer now on! What are you waiting for?
                            </span>
                            <span ng-if="offer.timeScale == 'past'">
                                This offer has now ended, but it was good while it lasted!
                            </span>
                            <span ng-if="offer._relatedEventId != null">
                                <img class="event-img"
                                    ng-src="https://www.mynyte.co.uk/sneak-preview/img/user_images/cover_photo/{{offer.relatedEventCoverPhotoName}}" />
                                <span class="inline">Event offer:</span> {{offer.relatedEventName}}
                            </span>
                        </h3>
                        <h3 class="offer-title">{{offer.title}} at {{offer.businessName}}</h3>
                        <p>{{offer.description}}</p>
                        <div ng-if="offer._relatedEventId == null">
                            <h3 class="weekday-name" ng-if="offer.weekdayName != null">Every {{offer.weekdayName}}</h3>
                            <div class="date-text"><label>Offer <span ng-if="offer.timeScale == 'future'">Starts</span><span ng-if="offer.timeScale != 'future'">Started</span>:</label> {{offer.startDateTimeString}}</div>
                            <div class="date-text bottom"><label>Offer <span ng-if="offer.timeScale != 'past'">Ends</span><span ng-if="offer.timeScale == 'past'">Ended</span>:</label> {{offer.endDateTimeString}}</div>
                        </div>
                        <div ng-if="offer._relatedEventId != null">
                            <h3 class="weekday-name" ng-if="offer.relatedEventWeekdayName != null">Every {{offer.weekdayName}}</h3>
                            <div class="date-text bottom"
                                ng-if="offer.startDateTimeString == offer.endDateTimeString"><label>Event Date:</label> {{offer.startDateTimeString}}</div>
                            <div class="date-text"
                                ng-if="offer.startDateTimeString != offer.endDateTimeString"><label>Offer Start Date:</label> {{offer.startDateTimeString}}</div>
                            <div class="date-text bottom"
                                ng-if="offer.startDateTimeString != offer.endDateTimeString"><label>Offer End Date:</label> {{offer.endDateTimeString}}</div>
                        </div>
                    </div>
                    <div class="niceTile"
                        ng-if="offer._offerTypeId != '1' && pageTitle != 'Invalid Offer'">
                        <div class="niceTile-inner">
                            <button class="btn button-full btn-red"
                                ng-class="{'disabled': rootScope.user.isBusiness == '1'}"
                                ng-disabled="rootScope.user.isBusiness == '1'"
                                ng-click="offerEnquire();">Enquire about this Offer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <style>
        #offer-enquiry {
            top: calc(100% - 118px);
            width: 100%;
            padding-top: 0;
        }
    </style>
</ion-view>
