<ion-view view-title="{{rootScope.pageTitle}} on MyNyte.co.uk" class="black_bg">
    <ion-content>
        <div class="{{itemType}} view-wrapper"
            ng-class="{
                'niceTile': itemType == 'Offers' && businessesItems.length > 0,
                'list': itemType == 'UpcomingEvents' && businessItems.length > 0}">
            <h2 ng-if="itemType == 'Offers' && businessesItems.length > 0"><span>{{pageSubTitle}}</span></h2>
            <div class="niceTile-inner">
                <div class="accordian today-offers">
                    <div class="accordian-section first" 
                        ng-repeat="category in businessesItems"
                        ng-if="itemType == 'Offers' && businessesItems.length > 0">
                        <div ng-include="'templates/shared-partials/offer-category-accordian.html'"></div>
                    </div>
                </div>
            </div>
            <div class="tile businesses-items-note"
                ng-if="itemType == 'Offers' && businessesItems.length == 0">
                <span class="listing-detail-container">
                    <i class="ion-social-usd main"></i>
                    <span class="text">No current offers to show.</span>
                </span>
            </div>
            <div class="tile" 
                ng-repeat="feature in businessesItems"
                ui-sref="app.feedListing({_listingId:feature.relListingId, listingType:feature.listingType})"
                ng-if="itemType == 'UpcomingEvents' && businessesItems.length > 0">
                <div class="main-search-result-listing feed-item">
                    <img ng-src="https://www.mynyte.co.uk/sneak-preview/img/user_images/cover_photo/{{feature.currentCoverPhotoName}}" />
                    <div class="listing-detail-container">
                        <span class="listing-name">{{feature.name}}</span>
                        <span class="listing-description">{{feature.description}}</span>
                        <span class="listing-type"></span>
                    </div>
                    
                    <div class="icon-bar-container" ng-include="'templates/shared-partials/listing-icon-bar.html'"></div>
                </div>
            </div>
            <div class="tile businesses-items-note"
                ng-if="itemType == 'UpcomingEvents' && businessesItems.length == 0">
                <span class="listing-detail-container">
                    <i class="ion-calendar main"></i>
                    <span class="text">No upcoming events have been uploaded.</span>
                </span>
            </div>
        </div>
    </ion-content>
</ion-view>
