<ion-view view-title="{{rootScope.pageTitle}} on myNyte.co.uk" class="black_bg">
    <ion-content>
        <div class="list summary-display view-wrapper">
            <a class="item item-message-summary profile-item-summary"
                ui-sref="app.feedListing-specific-photos({_listingProfileId: item._photoOwnerProfileId, _listingId: _listingId, listingType: listingType, listingName: listingName, _id: _paramsId, _albumId: item._albumId, albumType: item.picType})"
                ng-repeat="item in photoAlbums">
                <div>
                    <div style="width: 100%; overflow: hidden; border-bottom: 1px solid #444; margin-bottom: 5px;" class="main-visual-image-display"
                        ng-style="{height: windowWidth+'px'};">
                        <img ng-src="{{item.name}}"
                            ng-if="listingType == 'Movie'">
                        <img ng-src="{{assetsFolderUrl}}/img/user_images/{{item.albumName}}/{{item.name}}"
                            ng-if="(item.picType == 'Cover Photo' || item.picType == 'Profile Photo') && listingType != 'Movie'">
                        <img ng-src="{{assetsFolderUrl}}/img/user_images/general_photo/{{item._photoOwnerProfileId}}_{{item._albumId}}_{{item.name}}"
                            ng-if="item.picType != 'Profile Photo' && item.picType != 'Cover Photo'">
                    </div>
                    
                    <p ng-show="item.picType == 'Cover Photo'">Cover Photos</p>
                    <p ng-show="item.picType == 'Profile Photo'">Profile Photos</p>
                    <p ng-show="item.picType != 'Profile Photo' && item.picType != 'Cover Photo'">{{item.picType}}</p>
                    <span class="counter">{{item.photoCount}}</span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
